<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Muhindi mweusi--checkout</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/style.css?v=3">
    <link rel="stylesheet" href="assets/css/main-color05.css">
    <link rel="stylesheet" href="assets/css/sweetalert2.min.css"/>
</head>
<body class="biolife-body">
    
    <!-- Preloader -->
    <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header id="header" class="header-area style-01 layout-05">
        <div class="header-top hidden-xs">
            <div class="container-fluid">
                <div class="top-bar left">
                 
                </div>
                <div class="top-bar right">
                    <ul class="social-list">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="header-middle biolife-sticky-object ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-md-6 col-xs-6 logo-wrap">
                        <a  href="index.html" class="biolife-logo logo-image"><img class="m-img-logo"  src="assets/images/logo.png" alt="muhindi logo" ></a>
                    </div>
                    <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                        <div class="primary-menu">
                           
                          <!--search box-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                        <div class="biolife-cart-info">
                            <div class="mobile-search">
                                <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                                <div class="mobile-search-content">
                                    <form id="mobilesearch"  @submit.prevent="search" class="form-search" name="mobile-seacrh">
                                        <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
                                        <input type="text" v-model="query"  class="input-text" placeholder="Search all products...">
                                      
                                        <button type="submit" class="btn-submit">go</button>
                                    </form>
                                </div>
                            </div>
                            <div class="wishlist-block hidden-sm hidden-xs">
                                <a href="javascript:void(0)" class="link-to dropdown-account">
                                    <span class="icon-qty-combine">
                                        <i class="icon-login biolife-icon"></i>
                                    </span>
                                    <span class="title-account"></span>
                                </a>  
                             <div class="account-menu" id="account-menu">
                                 <ul class="account-contain">
                                 <li v-if="showlogin" ><a href="login.html">Login or Register</a></li>
                                 <li v-if="showaccount" ><a href="orders.html">Orders</a></li>
                                 <li v-if="showaccount" ><button class="btn btn-primary" @click="logout()">Logout</button></li>
                                 </ul>
                             </div>   
                            </div>
                            <div class="minicart-block" id="minicart-section">
                                <div class="minicart-contain">
                                    <a href="javascript:void(0)" class="link-to">
                                            <span class="icon-qty-combine">
                                                <i class="icon-cart-mini biolife-icon"></i>
                                                <span class="qty" v-if="totalquantity > 0" v-text="totalquantity"></span>
                                            </span>
                                        <span class="title">Cart</span>
                                  
                                    </a>
                                    <div class="cart-content">
                                    
                                        <div class="cart-inner" >
                                            <p class="minicart-empty" v-if="cart.length == 0">No product in your cart</p>
                                            <ul class="products">
                                                <li  v-for="(item, index) in cart">
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img v-bind:src="item.image" width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#" class="product-name" v-text="item.name"></a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span class="currencySymbol">KSh&nbsp;</span><span v-text="item.price"></span></ins>
                                                               
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id123][qty]">Qty:</label>
                                                                <input v-model="item.quantity" type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                     
                                                            <a @click="deleteItem(index)" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                              
                                            </ul>
                                            <p class="btn-control" v-if="cart.length > 0">
                                                <a href="shopping-cart.html" class="btn view-cart">view cart</a>
                                                <a @click="opencheckout()" class="btn">checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-menu-toggle">
                                <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="vertical-menu vertical-category-block">
                            <div class="block-title">
                                <span class="menu-icon">
                                    <span class="line-1"></span>
                                    <span class="line-2"></span>
                                    <span class="line-3"></span>
                                </span>
                                <span class="menu-title">Categories</span>
                                <span class="angle" data-toggleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                            <div class="wrap-menu">
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 padding-top-2px">
                     
                        <div class="header-search-bar layout-01">
                            <form id="headersearch" @submit.prevent="search" class="form-search" name="desktop-seacrh" >
                                <input type="text" v-model="query" class="input-text" value="" placeholder="Search all products...">
                                
                                <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

  

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="index.html" class="permal-link">Home</a></li>
                <li class="nav-item"><span class="current-page">Checkout</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain checkout">

        <!-- Main content -->
        <div id="main-content" class="main-content">
            <div class="container sm-margin-top-37px" id="checkout-vue">
                <div class="row">

                    <!--checkout progress box-->
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <div class="checkout-progress-wrap" >
                            <ul class="steps">
                                <li class="step 1st">
                                    <div id="h-step-1" class="checkout-act active">
                                        <h3 class="title-box"><span class="number">1</span>Customer</h3>

                                        <div id="h-customer" class="box-content" style="display: none;">
                                            <h4>Customer details</h4>
                                           <div><span id="c-first-name"></span>&nbsp;<span id="c-last-name">CHERUIYOT</span></div>
                                        </div>
                                        <div id="h-guest" class="box-content" style="display: none;">
                                            <p class="txt-desc">Checking out as a <a class="pmlink" href="#">Guest?</a> You’ll be able to save your details to create an account with us later.</p>
                                            <div class="login-on-checkout">
                                                <form @submit.prevent="setEmail">
                                                    <p class="form-row">
                                                        <label for="input_email">Email Address</label>
                                                        <input type="email" v-model="email" placeholder="Your email">
                                                        <button type="submit" name="btn-sbmt" class="btn">Continue As Guest</button>
                                                    </p>
                                                  
                                                    <p class="msg">Already have an account? <a href="login.html?launch=checkout" class="link-forward">Sign in now</a></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="step 2nd">
                                    <div id="h-step-2" class="checkout-act">
                                    <h3 class="title-box"><span class="number">2</span>Shipping</h3>
                                    <div class="box-content">
                                            <form>
                                            <span class="title">Ship to:</span>
                                            <select @change="setShipping($event)" class="select-ship-to">
                                            <option selected disabled>Select Region</option>
                                            <option v-for="option in options" v-bind:value="option.price" v-text="option.location"></option>
                                            </select>
                                            </form>
                                    </div>
                                    </div>
                                </li>
                            
                                <li class="step 4th">
                                    <div id="h-step-3" class="checkout-act">
                                        <h3 class="title-box"><span class="number">3</span>Payment</h3>
                                        <div class="box-content">
                                              <form action="#" name="frm-login" method="post">
                                                    <p class="form-row">
                                                        <label for="input_email">M-PESA No:</label>
                                                        <input v-model="phoneno" pattern=".{9,13}[0-9 ]+" title="Only numerics of  10 characters in length" class="input-checkouts" type="text"/>
                                                      
                                                    </p>
                                                </form>
                                           
                                        </div>
                                    
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Order Summary-->
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 sm-padding-top-48px sm-margin-bottom-0 xs-margin-bottom-15px">
                        <div class="order-summary sm-margin-bottom-80px" id="order-summary-checkout">
                            <div class="title-block">
                                <h3 class="title">Order Summary</h3>
                                <a href="shopping-cart.html" class="link-forward">Edit cart</a>
                            </div>
                            <div class="cart-list-box short-type">
                               <span class="number" v-text="quantitytext"></span>
                                <ul class="cart-list">
                                    <li class="cart-elem" v-for="(item, index) in cart">
                                        <div class="cart-item">
                                            <div class="product-thumb">
                                                <a class="prd-thumb" href="#">
                                                    <figure><img v-bind:src="item.image" width="113" height="113" alt="shop-cart" ></figure>
                                                </a>
                                            </div>
                                            <div class="info">
                                                <span class="txt-quantity" v-text="X + item.quantity" ></span>
                                                <a href="#" class="pr-name" v-text="item.name"></a>
                                            </div>
                                            <div class="price price-contain">
                                                <ins><span class="price-amount"><span class="currencySymbol">Ksh </span ><span v-text="item.subtotal"></span></ins>
                                               
                                            </div>
                                        </div>
                                    </li>
                                  
                                </ul>
                                <ul class="subtotal">
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Subtotal</b>
                                            <span class="stt-price" v-text="totaltext"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Shipping</b>
                                            <span class="stt-price" v-text="shippingcosttext"></span>
                                        </div>
                                    </li>
                                  
                                    <li>
                                        <div class="subtotal-line">
                                            <a href="#" class="link-forward">Promo/Gift Certificate</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">total:</b>
                                            <span class="stt-price" v-text="amounttext"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-row" style="float: right;">
                                            <img id="checkout-progress"  src="assets/images/loading.svg"  style="height: 40px;display: none;"/> 
                                            <button  @click="placeOrder()"  type="button" class="btn place-order">Check out</button>
                                        </div>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="footer layout-03">
        <div class="footer-content background-footer-03">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <section class="footer-item">
                            <h3 class="section-title">Transport Offices</h3>
                            <div class="contact-info-block footer-layout xs-padding-top-10px">
                                <ul class="contact-lines">
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-location"></i>
                                            <b class="desc">Nairobi, Kenya </b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-phone"></i>
                                            <b class="desc">Phone: +25478525625</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-letter"></i>
                                            <b class="desc">Email:  info@muhindimweusi.co.ke</b>
                                        </p>
                                    </li>
                                  
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6  md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Useful Links</h3>
                            <div class="wrap-custom-menu vertical-menu-2">
                                <ul class="menu">
                                    <li><a href="#">Terms & Conditions</a></li>
                                      <li><a href="about-us.html">About Us</a></li>
                                     <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6  md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                          
                        </section>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6  col-xs-12 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Newsletter Signup</h3>
                            <div class="newsletter-block layout-02">
                                <div class="form-content">
                                    <form action="#" name="new-letter-foter">
                                        <input type="email" class="input-text email" value="" placeholder="Your email here...">
                                        <button type="submit" class="bnt-submit" name="ok">Sign up</button>
                                    </form>
                                </div>
                            </div>
                            <div class="biolife-social inline bigger-on-mobile sm-margin-top-25px xs-margin-top-45px">
                                <ul class="socials">
                                    <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="payment-methods layout-02 xs-margin-top-40px sm-margin-top-19px">
                                <h4 class="title">Payments System:</h4>
                                <ul class="payments">
                                    
                                    <li><a href="#" class="payment-link"><img src="assets/images/card2.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="assets/images/card3.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="assets/images/card4.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="assets/images/card5.jpg" width="51" height="36" alt=""></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="separator sm-margin-top-62px xs-margin-top-40px"></div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                       <div class="copy-right-text"><p><a href="templateshub.net"></a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   
    
    <!--Footer For Mobile-->
    <div class="mobile-footer">
        <div class="mobile-footer-inner">
            <div class="mobile-block block-menu-main">
                <a class="menu-bar menu-toggle btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                    <span class="fa fa-bars"></span>
                    <span class="text">Menu</span>
                </a>
            </div>
         
            <div class="mobile-block block-minicart">
                <a class="link-to-cart" href="shopping-cart.html">
                    <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                    <span class="text">Cart</span>
                </a>
            </div>
            <div class="mobile-block block-global">
                <a class="menu-bar myaccount-toggle btn-toggle" data-object="global-panel-opened" href="javascript:void(0)">
                    <span class="fa fa-user"></span>
                    <span class="text">Account</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mobile-block-global">
        <div class="biolife-mobile-panels">
            <span class="biolife-current-panel-title" id="mobile-title-bottom"></span>
            <a class="biolife-close-btn" data-object="global-panel-opened" href="#">&times;</a>
        </div>
        <div class="block-global-contain">
            <div class="glb-item my-account">
                <b class="title">My Account</b>
                <ul class="list" id="mobile-account-list">
                    <li class="list-item" v-if="showlogin"><a href="login.html">Login or register</a></li>
                    <li class="list-item" v-if="showlogin"><a style="cursor: pointer;" @click="opencheckout()">Checkout</a></li>
                     <li class="list-item" v-if="showaccount"><a href="orders.html">Orders</a></li>
                    <li class="list-item" v-if="showaccount"><button class="btn btn-primary" @click="logout()">Logout</button></li>
                </ul>
            </div>
           
        </div>
    </div>

    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/sweetalert2.all.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nicescroll.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/index.min.js?v=4"></script>
    <script src="assets/js/biolife.framework.min.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="assets/js/checkout.min.js?v=4"></script>
</body>

</html>