<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>product</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/style.css?v=2">
    <link rel="stylesheet" href="assets/css/main-color05.css">
    <link rel="stylesheet" href="assets/css/sweetalert2.min.css"/>
</head>
<body class="biolife-body">
   
    <!-- Preloader -->
    <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header id="header" class="header-area style-01 layout-05">
        <div class="header-top hidden-xs">
            <div class="container-fluid">
                <div class="top-bar left">
                 
                </div>
                <div class="top-bar right">
                    <ul class="social-list">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="header-middle biolife-sticky-object ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                        <a href="index.html" class="biolife-logo"><img src="assets/images/organic-3.png" alt="biolife logo" width="135" height="34"></a>
                    </div>
                    <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                        <div class="primary-menu">
                           
                          <!--search box-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                        <div class="biolife-cart-info">
                            <div class="mobile-search">
                                <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                                <div class="mobile-search-content">
                                    <form id="mobilesearch"  @submit.prevent="search" class="form-search" name="mobile-seacrh">
                                        <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
                                        <input type="text" v-model="query"  class="input-text" placeholder="Search all products...">
                                      
                                        <button type="submit" class="btn-submit">go</button>
                                    </form>
                                </div>
                            </div>
                            <div class="wishlist-block hidden-sm hidden-xs">
                                <a href="javascript:void(0)" class="link-to dropdown-account">
                                    <span class="icon-qty-combine">
                                        <i class="icon-login biolife-icon"></i>
                                    </span>
                                    <span class="title-account"></span>
                                </a>  
                             <div class="account-menu" id="account-menu">
                                 <ul class="account-contain">
                                 <li v-if="showlogin" ><a href="login.html">Login or Register</a></li>
                                 <li v-if="showaccount" ><a href="orders.html">Orders</a></li>
                                 <li v-if="showaccount" ><button class="btn btn-primary" @click="logout()">Logout</button></li>
                                 </ul>
                             </div>   
                            </div>
                            <div class="minicart-block" id="minicart-section">
                                <div class="minicart-contain">
                                    <a href="javascript:void(0)" class="link-to">
                                            <span class="icon-qty-combine">
                                                <i class="icon-cart-mini biolife-icon"></i>
                                                <span class="qty" v-if="totalquantity > 0" v-text="totalquantity"></span>
                                            </span>
                                        <span class="title">Cart</span>
                                  
                                    </a>
                                    <div class="cart-content">
                                    
                                        <div class="cart-inner" >
                                            <p class="minicart-empty" v-if="cart.length == 0">No product in your cart</p>
                                            <ul class="products">
                                                <li  v-for="(item, index) in cart">
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img v-bind:src="item.image" width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#" class="product-name" v-text="item.name"></a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span class="currencySymbol">KSh&nbsp;</span><span v-text="item.price"></span></ins>
                                                               
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id123][qty]">Qty:</label>
                                                                <input v-model="item.quantity" type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                     
                                                            <a @click="deleteItem(index)" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                              
                                            </ul>
                                            <p class="btn-control" v-if="cart.length > 0">
                                                <a href="shopping-cart.html" class="btn view-cart">view cart</a>
                                                <a @click="opencheckout()" class="btn">checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-menu-toggle">
                                <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="vertical-menu vertical-category-block">
                            <div class="block-title">
                                <span class="menu-icon">
                                    <span class="line-1"></span>
                                    <span class="line-2"></span>
                                    <span class="line-3"></span>
                                </span>
                                <span class="menu-title">All departments</span>
                                <span class="angle" data-toggleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                            <div class="wrap-menu">
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 padding-top-2px">
                     
                        <div class="header-search-bar layout-01">
                            <form id="headersearch" @submit.prevent="search" class="form-search" name="desktop-seacrh" >
                                <input type="text" v-model="query" class="input-text" value="" placeholder="Search all products...">
                                
                                <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="index.html" class="permal-link">Home</a></li>
                <li class="nav-item"><span class="current-page" id="current-page-link"></span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain single-product">
        <div class="container" id="single-product-section">

            <!-- Main content -->
            <div id="main-content" class="main-content">
                
                <!-- summary info -->
                <div class="sumary-product single-layout">
                    <div class="media">
                        <ul id="product-image-list"  class="prod-carousel biolife-carousel slider-for" data-slick='{"arrows":false,"dots":false,"slidesMargin":30,"slidesToShow":1,"slidesToScroll":1,"fade":true,"asNavFor":".slider-nav"}'>
                        </ul>
                        <ul id="product-thumb-list" class="prod-carousel biolife-carousel slider-nav" data-slick='{"arrows":false,"dots":false,"centerMode":false,"focusOnSelect":true,"slidesMargin":10,"slidesToShow":4,"slidesToScroll":1,"asNavFor":".slider-for"}'>

                        </ul>
                    </div>
                    <div class="product-attribute">
                        <h3 class="title" id="title-prod"></h3>
                        <div class="rating">
                            <p class="star-rating"><span id="prod-star-line"></span></p>
                            <span class="review-count" id="h-review-count"></span>
                          
                        </div>
                        <span class="sku">Sku: #76584HH</span>
                        <p class="excerpt"></p>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">Ksh&nbsp;</span><span id="price-prod"></span></ins>
                           
                        </div>
                        <div class="product-atts">
                          
                        </div>
                        
                    </div>
                    <div class="action-form">
                        <div class="quantity-box">
                            <span class="title">Quantity:</span>
                            <div class="qty-input">
                                <input id="qty12554" type="text" name="qty12554" value="1" data-max_value="20" data-min_value="1" data-step="1">
                                <a class="qty-btn btn-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                <a class="qty-btn btn-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="total-price-contain">
                            <span class="title">Total Price:</span>
                            <p class="price" ><span>Ksh&nbsp;</span><span id="tot-prod-price"></span></p>
                        </div>
                        <div class="buttons">
                            <a  class="btn add-to-cart-btn">add to cart</a>
                          
                        </div>
                      
                       
                        <div class="social-media">
                            <ul class="social-list">
                                <li><a href="#" class="social-link"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="social-link"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="social-link"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="social-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                      
                    </div>
                </div>

                <!-- Tab info -->
                <div class="product-tabs single-layout biolife-tab-contain">
                    <div class="tab-head">
                        <ul class="tabs">
                            <li class="tab-element active"><a href="#tab_1st" class="tab-link">Products Details</a></li>
                            <li class="tab-element" ><a href="#tab_4th" class="tab-link">Customer Reviews <sup id="sup-rev"></sup></a></li>
                            <li class="tab-element" ><a href="#tab_3rd" class="tab-link">Shipping & Delivery</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="tab_1st" class="tab-contain desc-tab active">
                          
                        </div>
                        <div id="tab_2nd" class="tab-contain addtional-info-tab">
                            <table class="tbl_attributes">
                                <tbody>
                                <tr>
                                    <th>Color</th>
                                    <td><p>Black, Blue, Purple, Red, Yellow</p></td>
                                </tr>
                                <tr>
                                    <th>Size</th>
                                    <td><p>S, M, L</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab_3rd" class="tab-contain shipping-delivery-tab">
                            <div class="accodition-tab biolife-accodition">
                                <ul class="tabs">
                                    <li class="tab-item">
                                        <span class="title btn-expand">How long will it take to receive my order?</span>
                                        <div class="content">
                                            <p>Orders placed before 3pm eastern time will normally be processed and shipped by the following business day. For orders received after 3pm, they will generally be processed and shipped on the second business day. For example if you place your order after 3pm on Monday the order will ship on Wednesday. Business days do not include Saturday and Sunday and all Holidays. Please allow additional processing time if you order is placed on a weekend or holiday. Once an order is processed, speed of delivery will be determined as follows based on the shipping mode selected:</p>
                                            <div class="desc-expand">
                                                <span class="title">Shipping mode</span>
                                                <ul class="list">
                                                    <li>Standard (in transit 3-5 business days)</li>
                                                    <li>Priority (in transit 2-3 business days)</li>
                                                    <li>Express (in transit 1-2 business days)</li>
                                                    <li>Gift Card Orders are shipped via USPS First Class Mail. First Class mail will be delivered within 8 business days</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="tab-item">
                                        <span class="title btn-expand">How is the shipping cost calculated?</span>
                                        <div class="content">
                                            <p>You will pay a shipping rate based on the weight and size of the order. Large or heavy items may include an oversized handling fee. Total shipping fees are shown in your shopping cart. Please refer to the following shipping table:</p>
                                            <p>Note: Shipping weight calculated in cart may differ from weights listed on product pages due to size and actual weight of the item.</p>
                                        </div>
                                    </li>
                                    <li class="tab-item">
                                        <span class="title btn-expand">Why Didn’t My Order Qualify for FREE shipping?</span>
                                        <div class="content">
                                            <p>We do not deliver to P.O. boxes or military (APO, FPO, PSC) boxes. We deliver to all 50 states plus Puerto Rico. Certain items may be excluded for delivery to Puerto Rico. This will be indicated on the product page.</p>
                                        </div>
                                    </li>
                                    <li class="tab-item">
                                        <span class="title btn-expand">Shipping Restrictions?</span>
                                        <div class="content">
                                            <p>We do not deliver to P.O. boxes or military (APO, FPO, PSC) boxes. We deliver to all 50 states plus Puerto Rico. Certain items may be excluded for delivery to Puerto Rico. This will be indicated on the product page.</p>
                                        </div>
                                    </li>
                                    <li class="tab-item">
                                        <span class="title btn-expand">Undeliverable Packages?</span>
                                        <div class="content">
                                            <p>Occasionally packages are returned to us as undeliverable by the carrier. When the carrier returns an undeliverable package to us, we will cancel the order and refund the purchase price less the shipping charges. Here are a few reasons packages may be returned to us as undeliverable:</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="tab_4th" class="tab-contain review-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                        <div class="rating-info">
                                            <p class="index"><strong class="rating" id="h-rating"></strong>out of 5</p>
                                            <div class="rating"><p class="star-rating"><span id="h-star-line"></span></p></div>
                                            <p class="see-all" id="h-see-all"></p>
                                            <ul class="options">
                                                <li>
                                                    <div class="detail-for">
                                                        <span class="option-name">5stars</span>
                                                        <span class="progres">
                                                            <span  class="line-100percent"><span class="percent" id="h-line5star"></span></span>
                                                        </span>
                                                        <span class="number" id="h-5star"></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="detail-for">
                                                        <span class="option-name">4stars</span>
                                                        <span class="progres">
                                                            <span  class="line-100percent"><span class="percent" id="h-line4star"></span></span>
                                                        </span>
                                                        <span class="number" id="h-4star"></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="detail-for">
                                                        <span class="option-name">3stars</span>
                                                        <span class="progres">
                                                            <span  class="line-100percent"><span class="percent" id="h-line3star"></span></span>
                                                        </span>
                                                        <span class="number" id="h-3star" ></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="detail-for">
                                                        <span class="option-name">2stars</span>
                                                        <span class="progres">
                                                            <span  class="line-100percent"><span class="percent" id="h-line2star"></span></span>
                                                        </span>
                                                        <span class="number" id="h-2star"></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="detail-for">
                                                        <span class="option-name">1star</span>
                                                        <span class="progres">
                                                            <span  class="line-100percent"><span class="percent" id="h-line1star"></span></span>
                                                        </span>
                                                        <span class="number" id="h-1star"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                        <div class="review-form-wrapper">
                                            <span class="title">Submit your review</span>
                                            <form @submit.prevent="submit" id="reviewform">
                                                <div class="comment-form-rating">
                                                    <label>1. Your rating of this products:</label>
                                                    <p class="stars">
                                                        <span>
                                                            <a class="btn-rating" href="#"><i data-value="1"  class="fa fa-star-o" aria-hidden="true"></i></a>
                                                            <a class="btn-rating"  href="#"><i data-value="2" class="fa fa-star-o" aria-hidden="true"></i></a>
                                                            <a class="btn-rating"  href="#"><i data-value="3" class="fa fa-star-o" aria-hidden="true"></i></a>
                                                            <a class="btn-rating"  href="#"><i data-value="4" class="fa fa-star-o" aria-hidden="true"></i></a>
                                                            <a class="btn-rating"  href="#"><i data-value="5" class="fa fa-star-o" aria-hidden="true"></i></a>
                                                        </span>
                                                    </p>
                                                </div>
                                                <p class="form-row">
                                                    <input type="text" v-model="name"  placeholder="Your name" required>
                                                </p>
                                                <p class="form-row">
                                                    <input type="email" v-model="email" placeholder="Email address" required>
                                                </p>
                                                <p class="form-row">
                                                    <input type="text" v-model="title" placeholder="Title" required>
                                                </p>
                                                <p class="form-row">
                                                    <textarea v-model="review"  cols="30" rows="10" placeholder="Write your review here..." required></textarea>
                                                </p>
                                                <p class="form-row">
                                                    <button type="submit" name="submit">submit review</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="comments">
                                    <ol class="commentlist">
                                     
                               
                                    
                                    </ol>
                                    <div class="biolife-panigations-block version-2">
                                       
                                        <div class="result-count">
                                            <p class="txt-count"><b id="h-to-text"></b> of <b id="h-total-reviews"></b> reviews</p>
                                            <a href="#" class="link-to">See all<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- related products -->
                <div class="product-related-box single-layout">
                    <div class="biolife-title-box lg-margin-bottom-26px-im">
                        <span class="biolife-icon icon-organic"></span>
                        <span class="subtitle">All the best item for You</span>
                        <h3 class="main-title">Related Products</h3>
                    </div>
                    <ul class="related-products products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20 }},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10}}]}'>


                    </ul>
                </div>
                
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="footer layout-03">
        <div class="footer-content background-footer-03">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <section class="footer-item">
                            <h3 class="section-title">Transport Offices</h3>
                            <div class="contact-info-block footer-layout xs-padding-top-10px">
                                <ul class="contact-lines">
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-location"></i>
                                            <b class="desc">Nairobi, Kenya </b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-phone"></i>
                                            <b class="desc">Phone: +25478525625</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-letter"></i>
                                            <b class="desc">Email:  info@muhindimweusi.co.ke</b>
                                        </p>
                                    </li>
                                  
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6  md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Useful Links</h3>
                            <div class="wrap-custom-menu vertical-menu-2">
                                <ul class="menu">
                                    <li><a href="#">Terms & Conditions</a></li>
                                      <li><a href="about-us.html">About Us</a></li>
                                     <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6  md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                          
                        </section>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6  col-xs-12 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Newsletter Signup</h3>
                            <div class="newsletter-block layout-02">
                                <div class="form-content">
                                    <form action="#" name="new-letter-foter">
                                        <input type="email" class="input-text email" value="" placeholder="Your email here...">
                                        <button type="submit" class="bnt-submit" name="ok">Sign up</button>
                                    </form>
                                </div>
                            </div>
                            <div class="biolife-social inline bigger-on-mobile sm-margin-top-25px xs-margin-top-45px">
                                <ul class="socials">
                                    <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="payment-methods layout-02 xs-margin-top-40px sm-margin-top-19px">
                                <h4 class="title">Payments System:</h4>
                                <ul class="payments">
                                    
                                    <li><a href="#" class="payment-link"><img src="assets/images/card2.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="assets/images/card3.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="assets/images/card4.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="assets/images/card5.jpg" width="51" height="36" alt=""></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="separator sm-margin-top-62px xs-margin-top-40px"></div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                       <div class="copy-right-text"><p><a href="templateshub.net"></a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    
    <!--Footer For Mobile-->
    <div class="mobile-footer">
        <div class="mobile-footer-inner">
            <div class="mobile-block block-menu-main">
                <a class="menu-bar menu-toggle btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                    <span class="fa fa-bars"></span>
                    <span class="text">Menu</span>
                </a>
            </div>
         
            <div class="mobile-block block-minicart">
                <a class="link-to-cart" href="shopping-cart.html">
                    <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                    <span class="text">Cart</span>
                </a>
            </div>
            <div class="mobile-block block-global">
                <a class="menu-bar myaccount-toggle btn-toggle" data-object="global-panel-opened" href="javascript:void(0)">
                    <span class="fa fa-user"></span>
                    <span class="text">Account</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mobile-block-global">
        <div class="biolife-mobile-panels">
            <span class="biolife-current-panel-title" id="mobile-title-bottom"></span>
            <a class="biolife-close-btn" data-object="global-panel-opened" href="#">&times;</a>
        </div>
        <div class="block-global-contain">
            <div class="glb-item my-account">
                <b class="title">My Account</b>
                <ul class="list" id="mobile-account-list">
                    <li class="list-item" v-if="showlogin"><a href="login.html">Login or register</a></li>
                    <li class="list-item" v-if="showlogin"><a style="cursor: pointer;" @click="opencheckout()">Checkout</a></li>
                     <li class="list-item" v-if="showaccount"><a href="orders.html">Orders</a></li>
                    <li class="list-item" v-if="showaccount"><button class="btn btn-primary" @click="logout()">Logout</button></li>
                </ul>
            </div>
           
        </div>
    </div>

    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/sweetalert2.all.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.nicescroll.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/index.js?v=2"></script>
    <script src="assets/js/product.js?v=2"></script>
    <script src="assets/js/biolife.framework.js"></script>
    <script src="assets/js/functions.js"></script>
    
   
</body>

</html>